<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  <div class="w-full max-w-lg rounded-xl bg-white p-8 shadow-xl">
    <h2 class="mb-6 text-center text-3xl font-bold text-gray-800">Contactez-nous</h2>

    <form class="space-y-5" [formGroup]="myForm" (ngSubmit)="onSubmit($event)">
      <!-- Nom -->
      <div>
        <label for="nom" class="mb-2 block text-sm font-semibold text-gray-700"> Nom </label>
        <input
          id="nom"
          type="text"
          required
          minlength="9"
          formControlName="name"
          /* #nomref="ngModel"
          [(ngModel)]="nom" */
          name="nom"
          placeholder="Entrez votre nom"
          [class.border-red-500]="myForm.get('name')?.touched && myForm.get('name')?.invalid"
          [class.border-green-500]="myForm.get('name')?.touched && myForm.get('name')?.valid"
          [class.border-green-500]="myForm.get('name')?.dirty && myForm.get('name')?.valid"
          class="w-full rounded-lg border border-gray-300 px-4 py-3 outline-none transition focus:border-blue-500 focus:ring-2 focus:ring-blue-200"
        />
      </div>
      <!-- afficher le message d'erreur  -->
       @if (myForm.get('name')?.touched && myForm.get('name')?.hasError('required')) {
        <small class="text-red-700">le nom est obligatoire</small>
       }
       @if(myForm.get('name')?.touched && myForm.get('name')?.hasError('minlength')) {
        <small class="text-red-700">le nom doit contenir mini 9 caract</small>

       }
      <!-- @if (nomref.touched && nomref.getError('required')) {
        <small class="text-red-700">le non est obligatoire</small>
      }
      @if (nomref.touched && nomref.getError('minlength')) {
        <small class="text-red-700">le non doit contenir mini 9 caract</small>
      } -->

      <!-- Email -->
      <div>
        <label for="email" class="mb-2 block text-sm font-semibold text-gray-700"> Email </label>
        <input
          id="email"
          type="email"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          /* [(ngModel)]="email"
          #emailref="ngModel" */
          formControlName="email"
          name="email"
          placeholder="exemple@email.com"
          [class.border-red-500]="myForm.get('email')?.touched && myForm.get('email')?.invalid"
          [class.border-green-500]="myForm.get('email')?.touched && myForm.get('email')?.valid"
          [class.border-green-500]="myForm.get('email')?.dirty && myForm.get('email')?.valid"
          class="w-full rounded-lg border border-gray-300 px-4 py-3 outline-none transition focus:border-blue-500 focus:ring-2 focus:ring-blue-200"
        />
      </div>
      @if (myForm.get('email')?.touched && myForm.get('email')?.hasError('required')) {
        <small class="text-red-700">l'email est obligatoire</small>
      }
      @if (myForm.get('email')?.touched && myForm.get('email')?.hasError('email')) {
        <small class="text-red-700">l'email doit etre valide</small>
      }
      <!-- @if (emailref.touched && emailref.getError('required')) {
        <small class="text-red-700">l'email est obligatoire</small>
      }
      @if (emailref.touched && emailref.getError('pattern')) {
        <small class="text-red-700">l'email doit etre valide</small>
      } -->

      <!-- phone  -->
        <button class="bg-blue-500 py-2.5 px-5 rounded-md" (click)="addphonenumber()">
        Ajouter un téléphone +
      </button>
      @for (item of phones; track $index) {
        <div>
          <label for="phone-{{ $index }}" class="mb-2 block text-sm font-semibold text-gray-700">
            Téléphone {{ $index + 1 }}
          </label>
          <input
            id="phone{{ $index }}"
            type="tel"
            formControlName="phone{{ $index }}"
            name="phone{{ $index }}"
            placeholder="Entrez votre téléphone"
            [class.border-red-500]="isPhoneInvalid($index)"
            [class.border-green-500]="isPhoneValid($index)"
            class="w-full rounded-lg border border-gray-300 px-4 py-3 outline-none transition focus:border-blue-500 focus:ring-2 focus:ring-blue-200"
          />
          @if (myForm.get("phone" + $index)?.touched && myForm.get("phone" + $index)?.hasError('pattern')) {
            <small class="text-red-500 text-sm">Le téléphone doit contenir 9 chiffres.</small>
          }
          @if (myForm.get("phone" + $index)?.touched && myForm.get("phone" + $index)?.hasError('required')) {
            <small class="text-red-500 text-sm">Le téléphone est requis.</small>
          }
        </div>
        <button class="bg-red-500 py-2.5 px-5 rounded-md" (click)="deletephonenumber($index)">
          Supprimer un téléphone -
        </button>
      }
      <!-- <button type="button" (click)="addphonenumber()" class="btn btn-primary px-6 py-3 h-15">
        Add phone number
      </button> -->
      
      <!-- @for (item of phones; track $index) {
        <div class="flex gap-4">
          <div>
            <label for="phone" class="mb-2 block text-sm font-semibold text-gray-700">
              Telephone
            </label>
            <input
              id="phone"
              type="text"
              required
              pattern="^[0-9]{9}$"
              #phoneref="ngModel"
              [(ngModel)]="phones[$index]"
              name="phones{{ $index }}"
              placeholder="Entrez votre numero de Telephone"
              class="w-full rounded-lg border border-gray-300 px-4 py-3 outline-none transition focus:border-blue-500 focus:ring-2 focus:ring-blue-200"
            />
          </div>
          <button
            type="button"
            (click)="deletephonenumber($index)"
            class="btn btn-primary px-6 py-3 h-[60px]"
          >
            Delete phone number
          </button>
        </div>
        @if (phoneref.touched && phoneref.getError('required')) {
          <small class="text-red-700">le numero de phone est obligatoire</small>
        }
        @if (phoneref.touched && phoneref.getError('pattern')) {
          <small class="text-red-700">le numero doit contenir 9 chiffres</small>
        }
      } -->

      <!-- Avis -->
      <div>
        <label for="avis" class="mb-2 block text-sm font-semibold text-gray-700">
          Votre avis
        </label>
        <textarea
          id="avis"
          rows="5"
          /* [(ngModel)]="avis" */
          name="avis"
          placeholder="Écrivez votre avis..."
          class="w-full resize-none rounded-lg border border-gray-300 px-4 py-3 outline-none transition focus:border-blue-500 focus:ring-2 focus:ring-blue-200"
        ></textarea>
      </div>

      <!-- Bouton -->
      <button
        type="submit"
        [disabled]="myForm.invalid"
        class="w-full disabled:opacity-50 disabled:cursor-not-allowed disabled:active:scale-none rounded-lg bg-blue-600 px-6 py-3 text-lg font-semibold text-white shadow-md transition duration-300 hover:bg-blue-700 hover:shadow-lg active:scale-95"
      >
        Soumettre
      </button>
    </form>
  </div>
  <!-- <p>{{ nom }}</p> -->
</div>
